h1, h2, h3, h4, h5 {
  font-family: 'Inconsolata', monospace;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
}

#app {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  margin: 18px;
}

.section-header {
  text-decoration: underline;
  margin: 0 0 40px 0;
}

.card-title {
  margin-top: 5px;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-between;
}

.text-highlight {
  background-color: rgba(255, 225, 0, 0.54);
}

@media screen and (min-width: 501px) {
  #app {
    margin: 32px;
  }
}

@media screen and (min-width: 800px) {
  #app {
    margin: 0 auto;
  }

  .card {
    flex: 0 calc(45% - 10px);
  }
}

@media screen and (min-width: 800px) and (max-width: 1080px) {
  #app {
    width: 700px;
  }
}

@media screen and (min-width: 1081px) {
  #app {
    width: 1000px;
  }
}