h1, h2, h3, h4, h5 {
  font-family: 'Inconsolata', monospace;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
}

#app {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

.section-header {
  text-decoration: underline;
  margin: 0 0 40px 0;
}

.card-title {
  margin-top: 5px;
}

@media screen and (max-width: 450px) {
  #app {
    margin: 18px;
  }
}